/* Place CSS styles here */
body {
  background-color: #ffffff; /* light blue */
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.menu-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #413226; /* light blue */
  padding: 1px 300px;
}

.menu-bar a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.menu-bar .logo img {
  height: 350px; /* adjust the size of your logo */
  width: auto;
}

.image-container {
  margin-top: 60px;   /* space below the menu bar */
  margin-left: 60px;  /* space from left side */
}

.image-container img {
  width: 500px;      /* adjust size */
  height: auto;
  border-radius: 5px; /* optional */
}

